<!DOCTYPE html>
<html>

    <head>
      <style>
          .error{color: red}
          form {
              background-color: #eee;
              padding: 20px;
              margin: 0 auto;
              width: 540px;
              font: 16px sans-serif;
              border-radius: 10px;
          }
          h1 {
            text-align: center;
            font-family: cursive;
          }


      </style>
    </head>

    <body>
    {% block content %}

     {% endblock %}
    </body>

</html>
